*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 210, 200);
    /* position: fixed; */
    padding: 0.5rem 4rem;
    width: 100%;
}

.logo img{
    width: 90px;
    height: 60px;
}

.menu{
    display: flex;
    width: 39%;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu ul li{
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;
    transition: background 0.1s ease-in;
    border-radius: 10px;
}

.menu ul li:hover{
    background-color: rgba(255, 255, 255, 0.808);
}

.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color:  rgb(191, 123, 100);
}

.home {
    background-image: url(../img/engenharia_obra.jpg);
    background-repeat: no-repeat;
    width: 80%;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.quem {
    display: flex;
    padding: 80px;
    justify-content: space-between;
    align-items: center;
}